# Datos procesados
data/raw/*
data/derived/*
data/processed/*

# Outputs
out/qiime2/
out/phyloseq/
out/export/
out/tables/
out/figures/


# Metadatos info px
meta/* 

# Sistema
.DS_Store
.Rhistory
.Rproj.user/